// Common Responsive
@media screen and (max-width: 991px) {
    //Support Feature Res...
    .support-feature-item{
        padding: 16px 16px;
        display: grid;
        gap: 10px;
        height: 100% !important;
        .content{
            h4{
               font-size: 16px;
               font-weight: 600;
               margin-bottom: 2px; 
    
            }
            span{
                font-size: 13px;
                line-height: 150%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    //Support Feature Res...
    .support-feature-item{
        padding: 14px 10px;
        display: grid;
        gap: 10px;
        height: 100% !important;
        .content{
            h4{
               font-size: 16px;
               font-weight: 600;
               margin-bottom: 2px; 
    
            }
            span{
                font-size: 13px;
                line-height: 150%;
            }
        }
    }
}
// Common Responsive