//Hero Section
.hero-items{
    background: url(../../assets/img/hero/hhero1.png) no-repeat center center;
    background-size: cover;
    padding: 80px 80px;
    &.style-02{
        background: url(../../assets/img/hero/hero2.png) no-repeat center center;
        background-size: cover;
    }
    &.style-03{
        background: url(../../assets/img/hero/hero3.png) no-repeat center center;
        background-size: cover;
    }
    &.style-04{
        background: url(../../assets/img/hero/hero4.png) no-repeat center center;
        background-size: cover;
    }
    .hero-content{
        h3{
            font-size: 40px;
            font-weight: 600;
            line-height: 120%;
            color: var(--n700);
            margin-bottom: 24px;
        }
        p{
            font-size: 16px;
            color: var(--n500);
            margin-bottom: 40px;
        }
        .hero-btn{
            background: var(--p1);
            border-radius: 100px;
            padding: 12px 24px;
            color: var(--n0);
            display: inline-flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 600;
            transition: all 0.4s;
            i{
                font-size: 20px;
            }
            &:hover{
                background: var(--s1);
            }
        }
        .mega-badge{
            border-radius: 100px;
            padding: 10px 22px;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            color: var(--s2);
            background: rgba(255, 255, 255, 20%);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 24px;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 16px;
            i{
                color: var(--s2);
                font-size: 24px;
            }
        }
    }
}
.hero-slide-btn{
    width: 94%;
    margin: 0 auto;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    button{
        cursor: pointer;
        width: 48px;
        height: 48px;
        background: transparent;
        border-radius: 50%;
        transition: all 0.4s;
        outline: none;
        &:hover{
            background: var(--p1);
            i{
                color: var(--n0);
            }
        }
    }
}
//Hero Section

// Container Maintain 
.custom-container{
   @media screen and (min-width: 991px) {
    max-width: 1326px;
    margin: 0 auto;
   }
}
// Container Maintain 

// Support Feature
.support__fetaure{
    margin-bottom: 60px;
    margin-top: 32px;
}
.support-feature-item{
    background: var(--box);
    border-radius: 8px;
    border: 1px solid var(--border1);
    padding: 24px 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: all 0.5s;
    .content{
        h4{
           font-size: 18px;
           font-weight: 500;
           color: var(--n500);
           margin-bottom: 3px; 
            line-height: 150%;

        }
        span{
            color: var(--n500);
            font-size: 13px;
            line-height: 145%;
            display: block;
        }
    }
    &:hover{
        background: var(--n0);
        transform: translateY(-1px);
    }
}
.feature-btn-grp{
    position: absolute;
    top: 50%;
    width: 93%;    
    transform: translateY(-50%);
    z-index: 1;
    left: 10px;
    right: 10px;
    .sup-pre,
    .sup-next{
        width: 28px;
        height: 28px;
        border: 1px solid var(--p1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--n0);
        i{
            color: var(--p1);
        }
    }
}
.cmn-stl{
    width: 28px;
    height: 28px;
    border: 1px solid var(--p1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--n0);
    i{
        color: var(--p1);
    }
}
// Support Feature

// Flash Deals
.flash__deals{
    margin-bottom: 60px;
    .countdown{
        display: flex;
        gap: 8px;
        .countdown-item{
            border: 1px solid var(--p1);
            padding: 8px 16px;
            border-radius: 4px;
            display: flex;
            span{
                font-size: 16px;
                font-weight: 600;
                color: var(--p1);
                font-family: "IBM Plex Sans", sans-serif;
            }
        }
    }
    .flash_header{
        margin-bottom: 40px;
        gap: 12px;
    }
}
.flash-deals-item{
    transition: all 0.4s;
    border-radius: 8px;
    background: var(--n0);
    border: 1px solid var(--n30);
    overflow: hidden;
    .thumb{
        overflow: hidden;
        img{
            width: 100%;
            overflow: hidden;
            transition: all 0.5s;
        }
        .off-badge{
            background: var(--p1);
            border-radius: 4px;
            padding: 4px 8px;
            font-size: 12px;
            font-weight: 600;
            color: var(--n0);
            position: absolute;
            top: 16px;
            left: 16px;
        }
    }
    .quick-adding{
        position: absolute;
        transition: all 0.6s;
        right: -60px;
        top: 20px;
        opacity: 0;
    }
    .content{
        padding: 24px;
        .deals-name{
            font-size: 14px;
            font-weight: 500;
            color: var(--p1);
            display: block;
            margin-bottom: 8px;
        }
        h6{
            margin-bottom: 14px;
            a{
                font-size: 18px;
                font-weight: 500;
                color: var(--n500);
                line-height: 150%;
                display: block;
            }
        }
        .ratting{
            margin-bottom: 16px;
            gap: 3px;
            i{
                color: var(--s1);
                font-size: 19px;
            }
        }
        h4{
            font-size: 16px;
            font-weight: 500;
            color: var(--n500);
            line-height: 150%;
            display: flex;
            align-items: center;
            gap: 12px;
            del{
                font-weight: 400;
                color: var(--n100);
                font-size: 16px;
            }
        }
    }
    &:hover{
        .quick-adding{
            top: 20px;
            right: 20px;
            opacity: 1;
        }
        .thumb{
            img{
                transform: scale(1.08);
            }
        }
        transform: translateX(-3px);
    }
}
.flash_header{
    span,
    h2{
        font-size: 34px;
        color: var(--n500);
        line-height: 120%;
        font-weight: 600;
        letter-spacing: 0.2px;
        span{
            color: var(--p1);
        }
    }
    @media screen and (max-width: 1199px) {
        span,
        h2{
            font-size: 26px;
            color: var(--n500);
            line-height: 120%;
            font-weight: 600;
            letter-spacing: 0.2px;
            span{
                color: var(--p1);
            }
        }
    }
}
.time-countdown{
    .countdown {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.flash-deals-wrap02{
    margin-top: 24px;
}
.quick-adding{
    display: grid;
    gap: 8px;
    .quick-cart{
        width: 32px;
        height: 32px;
        border-radius: 4px; 
        border: 1px solid var(--n30);
        background: var(--n0);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
        i{
         color: var(--n500);
         transition: all 0.4s;
        }
        &:hover{
            background: var(--p1);
            i{
                color: var(--n0);
            }
        }
     }
}
// Flash Deals

// Todays Offers
.today-offer-body{
    .tablinks{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 8px 24px;
        margin-bottom: 40px;
        li{
            button{
                color: var(--n300);
                font-weight: 500;
                font-size: 18px;
                font-family: "IBM Plex Sans", sans-serif;
                outline: none;
            }
        }
    }
    .swiper-pagination-at{
        margin-top: 20px;
        text-align: center;
        .swiper-pagination-bullet{
            opacity: 0.2;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #3E9172;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            background: var(--p1) !important;
            opacity: 1;
        }
    }
}
.today-offers{
    margin-bottom: 60px;
}
.today-offer-thumb{
    width: 100%;
    position: relative;
    img{
        width: 100%;
    }
    h3{
        font-size: 32px;
        color: var(--n500);
        line-height: 120%;
        left: 10px;
        font-weight: 600;
        letter-spacing: 0.2px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        text-wrap: nowrap;
        span{
            color: var(--p1);
            font-size: 32px;
            line-height: 120%;
            font-weight: 600;
            letter-spacing: 0.2px;
        }
    }
    .offer-box{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background: var(--s1);
        position: absolute;
        top: 100px;
        left: 30px;
        .box{
            display: grid;
            gap: 0;
            justify-content: center;
            text-align: center;
        }
        span{
            font-size: 32px;
            font-weight: 600;
            color: var(--n700);
            line-height: 110%;
            .off{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}
// Todays Offers

// Monthly Offers
.monthly-offer-item{
    background: url(../../assets/img/monthly1.png) no-repeat center center;
    background-size: cover;
    padding: 24px 0 24px 24px;
    border-radius: 8px;
    width: 100%;
    transition: all 0.5s;
    &.style2{
        background: url(../../assets/img/monthly2.png) no-repeat center center;
        background-size: cover;
    }
    &.style3{
        background: url(../../assets/img/monthly3.png) no-repeat center center;
        background-size: cover; 
    }
    .monthly-badge{
        border-radius: 100px;
        padding: 10px 16px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        color: var(--s2);
        background: rgba(255, 255, 255, 20%);
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 16px;
        i{
            color: var(--s2);
            font-size: 24px;
        }
    }
    a{
        font-size: 20px;
        font-weight: 400;
        color: var(--n500);
        display: block;
        margin-bottom: 20px;
        span{
            font-weight: 600;
            color: var(--n700);
            display: block;
            font-size: 20px;
        }
    }
    .form-price{
        display: flex;
        align-items: center;
        gap: 8px;
        .forms{
            font-size: 14px;
            font-weight: 400;
            color: var(--n700);
        }
        .price{
          font-size: 17px;
          font-weight: 500;
          color: var(--s2);  
        }
    }
    &:hover{
        transform: scale(1.02);
    }
}
.custom-gutter{
    margin: -12px;
    .col-sm-6{
        padding: 12px;
    }
}
.monthly-offer{
    margin-bottom: 60px; 
}
// Monthly Offers

// Auction Product
.auction__product{
    margin-bottom: 60px;
    .auction-btn{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 600;
        color: var(--p1);
        text-transform: capitalize;
        i{
            color: var(--p1);
            font-size: 20px;
        }
        &:hover{
            color: var(--p1);
        }
    }
    .flash_header{
        gap: 24px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    .flash-deals-item{
        border: 1px solid var(--n30);
        border-radius: 8px;
        padding: 12px;
        .bids{
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 500;
            color: var(--n700);
            span{
                color: var(--p1);
                font-size: 14px;
                font-weight: 500;
            }
        }
        .prograss-bars{
            position: relative;
            height: 8px;
            width: 100%;
            display: block;
            background: rgba(62, 145, 114, 0.05);
            border-radius: 5px;
            margin-top: 16px;
            margin-bottom: 8px;
            &::before{
                position: absolute;
                top: 0;
                left: 0;
                background: var(--p1);
                width: 60%;
                height: 100%;
                border-radius: 5px;
                content: "";
                z-index: 1;
            }
        }
        .product-offer-time{
            background: var(--s1);
            border-radius: 100px;
            padding: 6px 16px 5px;
            display: inline-flex;
            align-items: center;
            position: absolute;
            top: 24px;
            gap: 8px;
            left: 50%;
            transform: translateX(-50%);
            i{
                color: var(--n700);
                font-size: 20px;
            }
            .countdown02{
                display: flex;
                gap: 4px;
                span{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--n700);
                }
            }
        }
        .content{
            padding: 24px 20px 12px;
        }
    }
    .auction-wrapper{
        border: 1px solid var(--s1);
        padding: 24px;
        border-radius: 12px;
    }
}
// Auction Product

// Accessories Items
.accessories-section{
    margin-bottom: 60px;
    .accessories-wrapper{
        border: 1px solid var(--n30);
        padding: 16px;
    }
}
.accessories-items{
    padding: 24px 14px;
    border: 1px solid var(--n30);
    background: var(--n20);
    border-radius: 8px;
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    .off-badge{
        background: var(--p1);
        border-radius: 4px;
        padding: 2px 8px;
        font-size: 12px;
        font-weight: 600;
        color: var(--n0);
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    img{
        margin-bottom: 8px;
    }
    .content{
        .titles{
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            color: var(--n700);
            display: block;
            margin-bottom: 2px;
        }
        .items{
           font-size: 14px;
           color: var(--n500);
           font-weight: 400; 
        }
    }
    &:hover{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: var(--n0);
    }
}
// Accessories Items

// Weekly Sale
.weekly-sale-section{
    padding-bottom: 130px;
    .weekly-sale-wrap{
        background: var(--n01);
        display: flex;
        align-items: center;
        border-radius: 12px;
        position: relative;
        .offbox{
            background: var(--n01);
            border-radius: 8px;
            padding: 48px 60px;
            display: flex;
            align-items: center;
            gap: 16px;
            h1{
                font-size: 64px;
                color: var(--n700);
                font-weight: 600;

            }
            .offe{
                font-size: 24px;
                font-weight: 400;
                color: var(--n500);
                display: grid;
                line-height: 140%;
                text-transform: uppercase;
            }
        }
        .this-border{
            border-left: 2px dashed var(--n0);
            height: 180px;
        }
        .weekly-body{
            background: var(--n01);
            border-radius: 8px;
            padding: 48px 60px;
            width: 100%;
            h4{
                font-size: 20px;
                font-weight: 600;
                color: var(--n700);
                line-height: 130%;
                margin-bottom: 16px;
            }
            .best-sale{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 8px;
                span{
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--n500);
                }
                .this-year{
                    background: var(--n0);
                    border-radius: 100px;
                    padding: 4px 14px;
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--n500);
                }
            }
        }
        .camera-element{
            position: absolute;
            right: 125px;
            top: 10px;
            z-index: 1;
            animation: lf 2s linear infinite;
        }
    }
}
@keyframes lf {
    50%{
        transform: translateX(-5px);
    }
}
// Weekly Sale

// Classified Product
.classified-wrap{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--border1);
    border-left: 1px solid var(--border1);
    .clssified-item{
        text-align: center;
        padding: 32px 10px;
        position: relative;
        display: block;
        width: calc(100% / 5);
        transition: all 0.5s;
        .off-badge{
            background: rgba(62, 145, 114, 0.05);
            border-radius: 4px;
            padding: 2px 8px;
            font-size: 12px;
            font-weight: 600;
            color: var(--p1);
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .thumb{
            background: rgba(62, 145, 114, 0.05);
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 72px;
            height: 72px;
            margin: 0 auto 20px;
        }
        .titles{
            color: var(--n500);
            font-size: 18px;
            font-weight: 600;
        }
        border-right: 1px solid var(--border1);
        border-bottom: 1px solid var(--border1);
        &:hover{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }
}
// Classified Product

// Sponsor Section
.sponsor-section{
    padding-bottom: 120px;
    .sponsor-wrapper-area{
        background: #F5F6F7;
        padding: 60px 60px;
        border-radius: 8px;
        h5{
            font-size: 20px;
            font-weight: 600;
            line-height: 130%;
            color: var(--n500);
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    @media screen and (max-width: 1399px) {
        padding-bottom: 60px !important;
    }
}
// Sponsor Section

// Product Adding in Cart
.cart-adding-wrapper{
    width: 315px;
    height: 100vh;
    background: var(--n0);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    overflow-y: scroll;
    right: -320px;
    top: 0;
    transition: all 0.5s;
    z-index: 999;
    padding: 24px 24px 14px;
    .cart-adding-list{
        display: flex;
        flex-direction: column;
        gap: 24px;
       .cart-adding-list-items{
        display: flex;
        gap: 16px;
        .thumb{
            background: var(--border1);
            border-radius: 4px;
            min-width: 90px;
            height: 95px;
        }
        .cont{
            width: 100%;
            a{
                font-size: 16px;
                font-weight: 500;
                color: var(--n500);
            }
            .store{
                font-size: 13px;
                color: var(--n100);
                display: block;
            }
            .price{
                font-size: 13px;
                font-weight: 500;
                color: var(--n500);
            }
            .cart-remove{
                outline: none;
                i{
                    color: var(--n100);
                }
            }
           .qtySelector {
                i{
                    cursor: pointer;
                    color: var(--n500);
                    min-width: 24px;
                    min-height: 24px;
                    font-size: 13px;
                    border-radius: 50%;
                    background-color: var(--border1);
                }
            }
            .qtySelector .qtyValue {
                border: none;
                padding: 5px;
                width: 34px;
                color: var(--n100);
            }
        }
       } 
    }
    .cart-adding-head{
        width: 270px;
        h6{
            color: var(--n500);
        }
        button{
            outline: none;
            i{
                font-size: 22px;
            }
        }
    }
    .cart-adding-footer{
        text-align: center;
        span{
            color: var(--n500);
        }
        .cart-add{
            background: var(--s1);
            border-radius: 4px;
            color: var(--n0);
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            padding: 9px 18px 11px;
        }
    }
    &.active{
        right: 0;
    }
}
// Product Adding in Cart

// Footer Section
.footer-section{
    @media screen and (max-width: 991px) {
        padding-bottom: 70px;
    }
}
.footer-copyright{
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-top: 1px solid var(--border1);
    p{
        font-size: 16px;
        color: var(--n500);
        font-weight: 400;
        font-family: "IBM Plex Sans";
    }
    .language-area{
        display: flex;
        align-items: center;
        gap: 24px;
        .nice-select{
            .current{
                color: var(--n700);
            }
            &::after{
                display: none;
            }
            .list{
                // width: 180px;
                width: initial;
                top: initial;
                right: 0;
                left: initial;
                bottom: 30px !important;
                background: var(--box);
                li{
                    color: var(--n500) !important;
                }
            }
        }
        .box-ones{
            display: flex;
            align-items: center;
            gap: 4px;
            img{
                width: 17px;
                height: 17px;
                object-fit: contain;
            }
        }
        .box-twos{
            img{
                width: 22px;
            }
        }
    }
    &.style-01{
        .privacy{
            display: flex;
            align-items: center;
            gap: 24px;
            li{
                a{
                    color: var(--n500);
                    font-size: 16px;
                    line-height: 150%;
                }
            }
        }
        .paycard{
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
}
.footer-top{
    margin-bottom: 120px;
}
.footer__widget{
    .widget-head{
        margin-bottom: 20px;
        display: block;
        h5{
            font-size: 18px;
            font-weight: 600;
            color: var(--n500);
        }
    }
    .text-one{
        margin-bottom: 32px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: var(--n500);
    }
    .widget-link{
        display: grid;
        gap: 12px;
        li{
            a{
                font-size: 16px;
                font-weight: 400;
                color: var(--n500);
                transition: all 0.4s;
                &:hover{
                    margin-left: 4px;
                    color: var(--p1);
                }
            }
        }
    }
    .text-two{
        margin-bottom: 24px;
    }
    form{
        display: flex;
        align-items: center;
        border: 1px solid var(--border1);
        border-radius: 8px;
        padding: 8px;
        input{
            padding: 0;
            border: unset;
            padding-right: 5px;
        }
        ::placeholder{
            font-size: 14px;
        }
        button{
            background: var(--p1);
            border: unset;
            border-radius: 8px;
            min-width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                transform: rotate(-14deg);
                color: var(--n0);
            }
        }
    }
}
.social-area{
    display: flex;
    align-items: center;
    gap: 12px;
    li{
        a{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            border: 1px solid var(--p1);
            transition: all 0.4s;
            i{
                color: var(--p1);
                font-size: 24px;
                transition: all 0.4s;
            }
            &:hover{
                background: var(--p1);
                i{
                    color: var(--n0);
                }
            }
        }
    }
}
// Footer Section

// Category Style
.category-wrapper{
    position: relative;
    button{
        display: flex;
        align-items: center;
        gap: 8px;
        outline: none;
        font-weight: 500;
        font-size: 16px;
        color: var(--n700);
        i{
            font-size: 14px;
        }
    }
    .category-content {
        display: none;
        z-index: 9;
        position: absolute;
        left: 0;
        top: 100%;
        background: var(--n0);
        width: 290px;
        padding-top: 10px;
        border: 1px solid var(--border1);
        .cate-inner > li{
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 14px;
            color: var(--n500);
            font-weight: 500;
            padding: 12px 12px;
            transition: all 0.5s;
            background: var(--n0);
            img{
                width: 18px;
            }
            &:not(:last-child){
                border-bottom: 1px solid var(--border1);
            }
            &:hover{
                cursor: pointer;
                background: var(--border1);
                .category-items{
                    opacity: 1;
                    pointer-events: visible;
                    transition: all 0.4s;
                    transform: translateY(0px);
                }
            }
            .category-items{
                pointer-events: none;
                display: flex;
                height: 100%;
                height: 75vh;
                background: var(--n0);
                border-right: 1px solid var(--border1);
                border-left: 1px solid var(--border1);
                border-bottom: 1px solid var(--border1);
                padding: 14px 32px;
                gap: 24px;
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 99;
                width: 1000px;
                opacity: 0;
                transform: translateY(20px);
                li{
                    width: 30%;
                    ul{
                        display: grid;
                        gap: 8px;
                        .cta-ttile{
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--n700);
                            text-wrap: nowrap;
                        }
                        li{
                            a{
                                text-wrap: nowrap;
                                font-size: 14px;
                                color: var(--n500);
                            }
                        }
                    }
                }
                @media screen and (max-width: 1399px) {
                    width: 700px;
                    li{
                        width: 28%;
                    }
                }
                @media screen and (max-width: 1199px) {
                    width: 600px;
                    li{
                        width: 26%;
                    }
                }
            }
        }
    }
}

// Category Style

// Category Mobile Style
.mobile-device-category-wrapper{
    .category-mobile-items{
        h5{
            color: var(--n500);
        }
        .mobile-user{
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 20px;
            i{
                width: 40px;
                height: 40px;
                border: 1px solid var(--border1);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--n500);
                font-size: 18px;
            }
            span{
                font-size: 18px;
                font-weight: 600;
                color: var(--n500);
            }
        }
        .category-icon-area{
            button{
                outline: none;
                font-size: 17px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
        .mobile-category-list{
            display: none;
            .all-listing{
                padding-top: 5px;
                .cta-ttile{
                    color: var(--n500);
                    font-weight: 600;
                    font-size: 16px;
                }
                li{
                    a{
                        color: var(--n500);
                        transition: all 0.4s;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
// Category Mobile Style